// FONT FAMILY
$logo-typography: 'Poppins', sans-serif;
$body-typography: 'Roboto', sans-serif;

// COLORS
$primary-color: lightblue;
$secondary-color: tomato;

// FONT WEIGHT
$txt-wg-light: 300;
$txt-wg-regular: 400;
$txt-wg-bold: 700;