.hero-section__bg-img {
  height: 10vh;
  width: 100%;
  background-image: url(/assets/images/image-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-section__about {
  height: 10vh;
  font-family: $logo-typography;
}

.hero-section__img {
  height: 8vh;
  width: 8vh;
}